    * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html, body {
            height: 100%;
        }
 body { margin:0; padding:0; font-family: sans-serif; background: #fafafa; }
        #map { position:absolute; top:0; bottom:0; width:100%; left: 0; height: 100%; }
        #map.half { height: 55% }
        #map.slim { height: 25%!important }

button {
  border: 0;
  border-radius: 5px;
  height: 48px;
  background-color: #fff;
      width: 100%;
}

button.cta {
  background-color: #05CB63;
}

button.active {
  background-color: #333333;
}

button.hidden {
  display: none;
}
button.inactive {
  opacity: 0.3;
}

.content {
  height: 100%;
}

.mapboxgl-popup {
  max-width: 400px;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.marker {
display: block;
border: none;
border-radius: 50%;
cursor: pointer;
padding: 0;
}

.meta-item {
  padding: 20px 0;
}

.geocoder {
z-index: 2000;
width: 100%;
}
.mapboxgl-ctrl-geocoder {
width: 100%;
}

.osm_buttons {
  margin-bottom: 50px;
  overflow: hidden;
}
.osm_buttons li {
  float: left;
  list-style-type: none;
  margin-right: 10px;
}
.osm_buttons .btn-tertiary.active { background: #333; color: #fff }

#show-ways.active { background: #333; color: #fff }



.object.faded { opacity: 0.2 }
.object:hover { cursor: pointer; }


        .image-wrapper { width: 100%; z-index: 1000; position: relative; display: block; background: #fff; bottom: 0; overflow-y: scroll; right: 0; height: 100%}

        

        


        .AttributionContainer { display: none; }
        .BearingIndicatorContainer  { display: none; }
        .ZoomContainer  { display: none; }
        #signbox { position: absolute; height: 30px; background: #000; color: #fff; top: 225px; width: 400px; opacity: 0.8; display: none }
        #signbox.visible { display: block; }
        #signbox img, #signbox p { float: left; margin: 0 }
        .TagSymbol.hidden { display: none }
        #close-sign { float: right; }
        .image-viewer .button-bar { position: relative; top: 250px; }


        .list-wrapper { width: 600px; overflow-x: scroll; position: absolute; bottom: 10px; display: none; }
        #object-images { width: 10000px; }
        #object-images li { float: left; width: 140px; margin-left: 10px; }
        #object-images img { width: 140px; }


        #panel-wrap { position:absolute; top:60px; width:400px; left: 0; background: #fff; bottom: 0; z-index: 1000; overflow: hidden; }

        #panel-wrap > div { position: absolute; width: 400px; transition: 0.2s; left: 0; }

        #panel-wrap > div.right { left: 400px; }
        #panel-wrap > div.left { left: -400px; }

        #object-details { position:relative; width:100%; background: #fff; z-index: 1001; padding: 10px; height: 60px; display: block; }


        label { font-size: 13px; }


        .object.hidden { opacity: 0 }

.mapboxgl-ctrl-geocoder, .mapboxgl-ctrl-geocoder .suggestions { box-shadow: none; border: 1px solid #ddd; }
.mapboxgl-ctrl-geocoder { max-width: 100%; }




.object--support--utility-pole { background-image: url('./images/marker--object--support--utility-pole--mly.svg'); }
.object--support--utility-pole.verified { background-image: url('./images/marker--object--support--utility-pole--on.svg'); }
.object--support--utility-pole.osm { background-image: url('./images/marker--object--support--utility-pole--on.svg'); }


#map-wrapper { width: calc(100% - 350px); position: absolute; right: 0; top: 0; height: 100%;  }
    
    #image-wrapper { 
      width: 100%; 
      overflow: scroll; 
      background-color: #ffffff; 
      height: 300px;
      border-radius: 15px 15px 0 0;
    }

    .grid-mly { width: 350px; height: 300px; float: left; position: relative; border-radius: 5px;  }

    .grid-mly:before {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: block;
      background-color: transparent;
      content: " ";
      z-index: 6000;
    }

    #header {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      padding: 10px;
      z-index: 3000;
    }
    #header button {
      width: 100px;
    }

    


    #panel {
      width: 100%;
      height: 100%;
      background-color: #fff;
      padding: 20px;
      position: absolute;
      z-index: 8000;
      top: 0;
      left: 0;
      transition: 0.2s;
      overflow: hidden;
    }

    #panel.closed {
      left: -100%;
    }




    #mly { position: absolute; height: 100%; width: 100%; bottom: 0; z-index: 4000 }


    .mly-container { position: absolute; height: 100%; width: 100%; bottom: 0; z-index: 4000 }




    .header {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      padding: 8px;
      z-index: 5000;
      display: none;
    }
    .header button {
      width: 48px;
      position: absolute;
    }
    .header button.left {
      left: 8px
    }
    .header button.right {
      right: 8px
    }
    .header button.exit {
      background-image: url('./images/close.svg');
      background-repeat: no-repeat;
      background-size: 20px;
      background-position: 50% 50%;
      text-indent: -9999px;
    }
    .header button.menu {
      background-image: url('./images/hamburger.svg');
      background-repeat: no-repeat;
      background-size: 20px;
      background-position: 50% 50%;
      text-indent: -9999px;
    }
    .header button.upload {
      background-image: url('./images/upload.svg');
      background-repeat: no-repeat;
      background-size: 20px;
      background-position: 50% 50%;
      text-indent: -9999px;
    }
    .header.hidden {
      display: none!important;
    }


    .ui {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 8px;
      z-index: 5000;
      background-color: #ffffff;
      border-radius: 20px 20px 0 0;
      width: 100%;
    }
    .ui.full-screen {
      height: 80%;
    }
    
    .actions {
      padding: 8px 8px 24px;
      overflow: hidden;
    }
    .actions.float {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 16px 16px 32px;
    }
    .actions button {
      float: left;
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }
    .actions button.cta {
      background-color: #05CB63;
      color: #ffffff;
      width: 200px;
      font-size: 20px;
    }
    .actions.single button {
      margin-left: calc(50% - 100px);
    }
    .actions button.side {
      width: calc(50% - 100px);
      text-indent: -9999px;
    }
    .actions button.remove {
      background-image: url('./images/trash.svg');
    }
    .actions button.skip {
      background-image: url('./images/chevright.svg');
    }
    .actions button.inactive {
      opacity: 0.3;
    }
    .actions button.back {
      background-image: url('./images/chevleft.svg');
    }

    #mly-wrapper {
      width: 100%;
      height: 340px;
      border-radius: 15px 15px 0 0;
      overflow: hidden;
      position: relative;
      transition: 0.2s;
    }
    #mly-wrapper.full-screen {
      width: 100%;
      height: 80%;
      position: absolute;
      border-radius: 0;
      top: 0;
      left: 0;
    }

    .mly-actions {
      width: 200px;
      position: absolute;
      bottom: 16px;
      left: calc(50% - 100px);
      z-index: 5000;
    }
    .mly-actions button {
      background-repeat: no-repeat;
      background-position: 50% 50%;
      text-indent: -9999px;
      
    }
    .mly-actions button.false {
      background-image: url('./images/thumbsdown.svg');
    }
    .mly-actions button.positive {
      background-image: url('./images/thumbsup.svg');
    }
    .mly-actions button.unsure {
    }
    .mly-actions button.selected {
      background-color: #ffffff;
    }

    .mly-actions .btn-wrap {
      background-color: #000000;
      float: left;
      width: calc(50% - 8px);
      border-radius: 5px;
    }
    .mly-actions .btn-wrap:first-of-type {
      margin-right: 16px;
    }


    #grow {
      background-color: transparent;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      width: 36px;
      height: 36px;
      position: absolute;
      top: 0;
      right: 0;
      text-indent: -9999px;
      background-image: url('./images/grow.svg');
      z-index: 5000;
    }


    .task-details {
      padding: 16px;
      text-align: center;
    }


    .ca-icon {
      background-image: url('./images/ca-green.png');
      opacity: 0.2;
    }


    .object-mly div.active {
      background-image: url('./images/marker--object--support--utility-pole--on.svg');
    }


    #position {
      position: absolute;
      width: calc(100% - 16px);
      left: 8px;
      bottom: 8px;
      background-color: #ffffff;
    }
    #position.hidden {
      display: none;
    }




    #image-wrapper.full-screen {
      height: 100%;
    }
    #image-wrapper div.full-screen {
      height: 100%;
      width: 100%;
    }




    .target {
      position: absolute;
      z-index: 8000;
      top: 0;
      left: 0;
      width: 100%;
      height: 55%;
      background-image: url('./images/target.svg');
      background-color: transparent;
      background-repeat: no-repeat;
      background-position: 50% 50%;
    }
    .target.hidden {
      display: none;
    }





    .big-btn {
      width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      z-index: 8000;
      background-color: transparent;
      top: 0;
      display: none;
    }




    .main-btn-wrap {

    }


    .sheet {
      position: fixed;
      bottom: 0;
      width: 100%;
      height: 300px;
      padding: 16px;
      background-color: #ffffff;
      border-radius: 20px;
      display: none;
      z-index: 9999;
    }
    .sheet:before {
      content: ' ';
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      display: block;
      background-color: #000;
      opacity: 0.5;
      z-index: -1;
    }
    .sheet:after {
      content: ' ';
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      display: block;
      background-color: #fff;
      z-index: -1;
    }
    .sheet button {
      background: #fafafa;
    }



    .icons {
      margin: 0!important;
    }

    .icons button {
      background-repeat: no-repeat;
      background-position: 50% 35%;
      background-size: 40px;
      height: auto;
      border-radius: 10px;
      margin: 10px 0;
      padding: 80px 20px 20px;
    }
    .icons button.pole {
      background-image: url('./images/icon-pole.svg')!important;
    }

